<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
body {

    background-image: url("./image/book.jpg"); 
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}
  .contaner
  {
    width:100%;
    background-color:transparent;
    height:20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .contaner .first
  {
    width:20%;
    height:10vh;
    text-align: center;
    padding-top: 15px;
    margin-top: 30px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #6a11cb, #2575fc);
 /*background: #B24592;  
background: -webkit-linear-gradient(to bottom, #F15F79, #B24592);  
background: linear-gradient(to bottom, #F15F79, #B24592); */
  }
  .contaner .first :hover
  {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  }
.contaner .first h3 a
{
	color:white;
}
          </style>
</head>
<body>
    <div class="contaner">
        <div class="first ">
            <h3> <a href="">Register</a></h3>
        </div>
        <div class="first ">
            <h3><a href="">Login</a></h3>
         </div>

    
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>