<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Add Amenity</title>
  <link rel="stylesheet" href="aminities.css" />
  <link href="https://fonts.googleapis.com/css2?family=Segoe+UI&display=swap" rel="stylesheet" />
</head>
<body>

  <div class="box">
    <form action="/addAmenity" method="POST">

      <h2 style="margin-bottom: 20px; color: black;text-align:center">Add Amenity</h2>

      <div class="form-group">
        <input type="text" name="amenityname" placeholder="Enter Amenity Name" required />
      </div>

      <div class="form-group">
        <input type="submit" value="➕ Add Amenity" />
      </div>

    </form>
  </div>

</body>
</html>